<div class="main-container">
  <h2 id="{{functionType}}_header">{{title}}</h2>
  <label for="{{placeholder}}" class="inputWrapper" style="display: block">{{placeholder}}</label>
  <input id={{placeholder}} class="{{functionType}}" (click)="clearInput()" (focusout)="blockInput(false)" (focusin)="blockInput()" (keyup)="InputValidation($event)">
  <div class="search-box-checkbox-container">
    <input checked=true type="checkbox" class="{{functionType}}" id="{{functionType}}_checkbox">
    <label for="{{functionType}}_checkbox" class="{{functionType}}">Все билеты пассажира</label><br>

  </div>


  <button (click)="decideFunction()" id="{{functionType}}">{{buttonText}}</button>

</div>


