button {
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color:#79bbff;
  border-radius:6px;
  border:1px solid #84bbf3;
  display:block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}
button:hover {
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color:#378de5;
}
button:active {
  position:relative;
  top:1px;
}
button:disabled {
  background:gray;
}
input[type=checkbox].doc_number {
  display: none;
}

label[for="doc_number_checkbox"] {
  display: none;
}

input[type=checkbox].ticket_number {
  display: inline-block;
  margin-left: -70px;
}

label[for="ticket_number_checkbox"] {
  float: inside;
  margin-left: -80px;
}

h2#ticket_number_header {
  margin-top: 40px;
}

.doc_number, .ticket_number {
  font-size: 14px;
  width: 200px;
  height: 35px;
}
