<div class="input-div">
<h1>Техподдержка</h1>

<app-search-box class="doc_number" [title]="'По номеру документа, удостоверяющего личность'" [placeholder]="'Серия и номер документа'" [buttonText]="'Найти данные пассажира'" [functionType]="'doc_number'" (docNumber)="populateTable($event)"></app-search-box>
<app-search-box class="ticket_number" [title]="'По номеру перевозчика'" [placeholder]="'Серия и номер билета'" [buttonText]="'Найти информацию по билету'" [functionType]="'ticket_number'" (ticketNumber)="populateTable($event)"></app-search-box>
<save-check-box></save-check-box>
<label id="ErrorLabel" hidden=true style="color: red"></label>
</div>
<div class="table-div">
<table hidden=true id="entries-table">
  <thead>
    <tr>
      <th>№</th>
      <th>Номер документа</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отправитель</th>
      <th>Валидация</th>
      <th>Дата транзакции</th>
      <th>Тип операции</th>
      <th>Номер билета</th>
      <th>Время вылета</th>
      <th>АК</th>
      <th>Город вылета</th>
      <th>Город прилёта</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of Entries;let indexOfElement=index;">
      <td>{{indexOfElement+1}}</td>
      <td>{{entry.passenger_document_number}}</td>
      <td>{{entry.surname}}</td>
      <td>{{entry.name}}</td>
      <td>{{entry.sender}}</td>
      <td>{{entry.validation_status}}</td>
      <td>{{entry.time}}</td>
      <td>{{entry.type}}</td>
      <td>{{entry.ticket_number}}</td>
      <td>{{entry.depart_datetime}}</td>
      <td>{{entry.airline_code}}</td>
      <td>{{entry.city_from_name}}</td>
      <td>{{entry.city_to_name}}</td>
    </tr>
  </tbody>
</table>
</div>
