app-search-box {
  display: inline-block;
  margin: 10px;
}
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
tr {
  height: 5px;
}

.input-div {
  width: 100%;
  display: inline-block;
}
.table-div {
  width: 100%;

}

label#ticket_number_label {
  padding-left: 230px;
}

div.main-container {
  padding-right: 300px;
}
